<div class="titulo">
  <h2>Carrito</h2>
</div>


@if (getCarrito().length === 0) {
    <p class="vacio">Tu carrito está vacío</p>
}@else{
    <main>
        @for (producto of getCarrito(); track producto.fruta.id) {
          <div class="producto">
            <p>{{producto.fruta.nombre}} - {{producto.cantidad}} unidad/es</p>
            <p>Total: {{producto.fruta.precio * producto.cantidad}}€</p>
            <button (click)="eliminarDelCarrito(producto.fruta.id)">Eliminar</button>
        </div>
        }
    </main>

    <button (click)="vaciarCarrito()" class="vaciar">Vaciar carrito</button>
}