header{
    background-color: rgb(255, 102, 0);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    color: white;
}

nav > a{
    margin-right: 1em;
    color: white;
}

nav > a:hover{
    border-bottom: 2px solid white;
}